
.tanaka {
    border: 1px solid #999;
}

.tanaka table {
    overflow-x: scroll;
}

.tanaka tr {
    border: 1px solid #999;
}

.tanaka th {
    padding: 0;
    border: 1px solid #999;
    background-color: #bbb;
}

.tanaka td {
    border: 1px solid #999;
}

.fancytest div {
}

.fancytest thead {
    display: block;
}

.fancytest tbody {
    display: block;
    height: 100%;
    overflow-y: scroll;
}

span.fancytree-node {
    -moz-display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    display: flex;
}

.fancytree-title {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 250px;
}
